<a href="https://colab.research.google.com/github/emnaaS/data-manipulation/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (26.1.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [80]:
import pandas as pd
from faker import Faker
import random

#initialisation du Faker pour la génération synthetique des données
fake = Faker()

#setting seed for reproduccibility (get the same data every time u use it)
Faker.seed(42)
#seed heya l piece d'identité kima n9oulou lel les données mte3na puisque houma random

#génération synthetique des données
data = []
for _ in range (1000):
  data.append({
      'name' : fake.name(),
      'age' : random.randint(18, 70),
      'email' : fake.email(),
      'phone' : fake.phone_number(),
      'address' : fake.address(),
      'salary' : random.randint(20000, 150000),
      'joint_date' : fake.date_this_decade(),
      'employment_status' : random.choice(['Full-Time', 'Part-Time', 'Contract']),
      'department' : random.choice(['IT', 'Finance', 'HR', 'Medical', 'Engeneering', 'Marketing'])
  })

In [81]:
print(data[0])

{'name': 'Allison Hill', 'age': 38, 'email': 'donaldgarcia@example.net', 'phone': '+1-219-560-0133', 'address': '79402 Peterson Drives Apt. 511\nDavisstad, PA 35172', 'salary': 140799, 'joint_date': datetime.date(2023, 9, 16), 'employment_status': 'Part-Time', 'department': 'Engeneering'}

In [82]:
print(data[1])

{'name': 'Kimberly Dudley', 'age': 42, 'email': 'smiller@example.net', 'phone': '+1-659-931-0341x316', 'address': '55341 Amanda Gardens Apt. 764\nLake Mark, WI 07832', 'salary': 138471, 'joint_date': datetime.date(2021, 1, 19), 'employment_status': 'Full-Time', 'department': 'Engeneering'}

In [83]:
#tweaking the records a bit
#introduce some missing values
for i in random.sample(range(len(data)), 50):
  data[i]['email'] = None

In [84]:
#introduce some duplicate records
data.extend(random.sample(data, 100))

In [85]:
#add/introduce some outliers(not in the range fixed)
for i in random.sample(range(len(data)), 20):
  data[i]['salary'] = random.randint(200000, 500000)

In [86]:
for i in range(10):
  print(data[i])

{'name': 'Allison Hill', 'age': 38, 'email': 'donaldgarcia@example.net', 'phone': '+1-219-560-0133', 'address': '79402 Peterson Drives Apt. 511\nDavisstad, PA 35172', 'salary': 140799, 'joint_date': datetime.date(2023, 9, 16), 'employment_status': 'Part-Time', 'department': 'Engeneering'}
{'name': 'Kimberly Dudley', 'age': 42, 'email': 'smiller@example.net', 'phone': '+1-659-931-0341x316', 'address': '55341 Amanda Gardens Apt. 764\nLake Mark, WI 07832', 'salary': 138471, 'joint_date': datetime.date(2021, 1, 19), 'employment_status': 'Full-Time', 'department': 'Engeneering'}
{'name': 'Ethan Adams', 'age': 36, 'email': 'robinbradley@example.net', 'phone': '837-767-2423x88496', 'address': '710 Eric Estate\nCarlsonfurt, MS 78605', 'salary': 70736, 'joint_date': datetime.date(2024, 7, 29), 'employment_status': 'Part-Time', 'department': 'Medical'}
{'name': 'Tricia Valencia', 'age': 38, 'email': 'frazierdanny@example.net', 'phone': '001-645-514-6270x48281', 'address': '809 Burns Creek\nNatashaport, IA 08093', 'salary': 95897, 'joint_date': datetime.date(2021, 2, 8), 'employment_status': 'Part-Time', 'department': 'Finance'}
{'name': 'Angela Dennis', 'age': 58, 'email': 'spenceamanda@example.org', 'phone': '(578)624-8963', 'address': '8713 Caleb Brooks Apt. 930\nLake Crystalbury, CA 04618', 'salary': 54449, 'joint_date': datetime.date(2023, 12, 13), 'employment_status': 'Contract', 'department': 'HR'}
{'name': 'David Caldwell', 'age': 55, 'email': 'ambercummings@example.net', 'phone': '001-773-876-3116', 'address': '106 Mcbride Coves\nEast James, NV 18874', 'salary': 96929, 'joint_date': datetime.date(2021, 12, 8), 'employment_status': 'Contract', 'department': 'HR'}
{'name': 'David Leblanc', 'age': 19, 'email': 'jmorton@example.org', 'phone': '5808132677', 'address': 'PSC 2606, Box 4746\nAPO AP 96249', 'salary': 111644, 'joint_date': datetime.date(2024, 7, 28), 'employment_status': 'Part-Time', 'department': 'Engeneering'}
{'name': 'Michelle Moore', 'age': 20, 'email': 'jeff09@example.net', 'phone': '+1-405-200-9788', 'address': 'USS York\nFPO AE 78493', 'salary': 27026, 'joint_date': datetime.date(2020, 4, 24), 'employment_status': 'Full-Time', 'department': 'Finance'}
{'name': 'Jennifer David', 'age': 31, 'email': 'bethwilliams@example.org', 'phone': '(799)385-4353x46247', 'address': '83842 Ibarra Gardens\nJustinmouth, MP 71701', 'salary': 114069, 'joint_date': datetime.date(2023, 3, 26), 'employment_status': 'Full-Time', 'department': 'Marketing'}
{'name': 'Victoria Valdez', 'age': 66, 'email': 'contrerasangela@example.net', 'phone': '524-711-8244', 'address': '740 Cynthia Village Suite 005\nLake Tina, GA 97655', 'salary': 105688, 'joint_date': datetime.date(2022, 1, 11), 'employment_status': 'Contract', 'department': 'Marketing'}

In [87]:
#create dataframe
df = pd.DataFrame(data)

In [88]:
print(df)

                   name  age                      email  \
0          Allison Hill   38   donaldgarcia@example.net
1       Kimberly Dudley   42        smiller@example.net
2           Ethan Adams   36   robinbradley@example.net
3       Tricia Valencia   38   frazierdanny@example.net
4         Angela Dennis   58   spenceamanda@example.org
...                 ...  ...                        ...
1095      Michael Berry   35  ericksonlaura@example.com
1096           Amy Boyd   45     clarkmindy@example.com
1097       Kyle Randall   56    gabrielle36@example.org
1098    Mr. Jason Salas   36     johnwarner@example.net
1099  Victoria Marshall   65  stevenssamuel@example.net

                       phone  \
0            +1-219-560-0133
1        +1-659-931-0341x316
2         837-767-2423x88496
3     001-645-514-6270x48281
4              (578)624-8963
...                      ...
1095      848-970-8477x95417
1096     +1-946-660-4903x764
1097            737-611-8151
1098      (905)930-2618x4025
1099     (612)608-7805x72151

                                                address  salary  joint_date  \
0     79402 Peterson Drives Apt. 511\nDavisstad, PA ...  140799  2023-09-16
1     55341 Amanda Gardens Apt. 764\nLake Mark, WI 0...  138471  2021-01-19
2                710 Eric Estate\nCarlsonfurt, MS 78605   70736  2024-07-29
3                809 Burns Creek\nNatashaport, IA 08093   95897  2021-02-08
4     8713 Caleb Brooks Apt. 930\nLake Crystalbury, ...   54449  2023-12-13
...                                                 ...     ...         ...
1095           818 Megan Summit\nSouth Willie, MI 76940   85573  2020-04-18
1096         161 Gregory Valleys\nBradleybury, VA 75808   97335  2023-10-01
1097   420 Cynthia Valley\nNorth Michaelmouth, WV 31849  109504  2021-04-11
1098  605 Phillip Canyon Suite 636\nWest Bradleyhave...  110616  2020-05-27
1099                           USS Reeves\nFPO AA 56970   28643  2023-03-27

     employment_status   department
0            Part-Time  Engeneering
1            Full-Time  Engeneering
2            Part-Time      Medical
3            Part-Time      Finance
4             Contract           HR
...                ...          ...
1095          Contract  Engeneering
1096         Full-Time    Marketing
1097         Part-Time           HR
1098          Contract      Medical
1099         Full-Time  Engeneering

[1100 rows x 9 columns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1100 non-null   object
 1   age                1100 non-null   int64
 2   email              1044 non-null   object
 3   phone              1100 non-null   object
 4   address            1100 non-null   object
 5   salary             1100 non-null   int64
 6   joint_date         1100 non-null   object
 7   employment_status  1100 non-null   object
 8   department         1100 non-null   object
dtypes: int64(2), object(7)
memory usage: 77.5+ KB

In [90]:
df.head()
#display the first 5 rows automatically

,name,age,email,phone,address,salary,joint_date,employment_status,department
0,Allison Hill,38,donaldgarcia@example.net,+1-219-560-0133,"79402 Peterson Drives Apt. 511\nDavisstad, PA ...",140799,2023-09-16,Part-Time,Engeneering
1,Kimberly Dudley,42,smiller@example.net,+1-659-931-0341x316,"55341 Amanda Gardens Apt. 764\nLake Mark, WI 0...",138471,2021-01-19,Full-Time,Engeneering
2,Ethan Adams,36,robinbradley@example.net,837-767-2423x88496,"710 Eric Estate\nCarlsonfurt, MS 78605",70736,2024-07-29,Part-Time,Medical
3,Tricia Valencia,38,frazierdanny@example.net,001-645-514-6270x48281,"809 Burns Creek\nNatashaport, IA 08093",95897,2021-02-08,Part-Time,Finance
4,Angela Dennis,58,spenceamanda@example.org,(578)624-8963,"8713 Caleb Brooks Apt. 930\nLake Crystalbury, ...",54449,2023-12-13,Contract,HR

In [91]:
#check for duplicate rows
duplicates = df.duplicated().sum()
print("number of duplicate rows: ", duplicates)

number of duplicate rows:  100

In [92]:
#removing duplicate rows
df.drop_duplicates(inplace=True)

In [93]:
#recheck for duplicate rows
dupl = df.duplicated().sum()
print("number of duplicate rows after recheck: ", dupl)

number of duplicate rows after recheck:  0

In [94]:
#check for missing values
missing_values = df.isna().sum()
print("missing values: ")
print(missing_values)

missing values:
name                  0
age                   0
email                50
phone                 0
address               0
salary                0
joint_date            0
employment_status     0
department            0
dtype: int64

In [95]:
# handling missing values by filling them with a placeholder
df['email'].fillna('unknown@example.com', inplace = True)

In [96]:
#convert 'joint_date' data type from object to datetime
df['joint_date'] = pd.to_datetime(df['joint_date'])
print("joint_date after conversion: ")
print(df['joint_date'].head())

joint_date after conversion:
0   2023-09-16
1   2021-01-19
2   2024-07-29
3   2021-02-08
4   2023-12-13
Name: joint_date, dtype: datetime64[ns]

In [97]:
df.rename(columns={'joint_date': 'join_date'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1000 non-null   object
 1   age                1000 non-null   int64
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   salary             1000 non-null   int64
 6   join_date          1000 non-null   datetime64[ns]
 7   employment_status  1000 non-null   object
 8   department         1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 78.1+ KB

In [98]:
#creating a new feature 'years_employed' based on 'join_date'
df['years_employed'] = pd.Timestamp.now().year - df['join_date'].dt.year
print("new feature 'years_employed': ")
print(df[['join_date', 'years_employed']].head())

new feature 'years_employed':
   join_date  years_employed
0 2023-09-16               1
1 2021-01-19               3
2 2024-07-29               0
3 2021-02-08               3
4 2023-12-13               1

In [99]:
#clean address strings
df['address'] = df['address'].str.replace('\n', ' ', regex=False)
print("address after text cleaning: ")
print(df['address'].head())
# regex=true is aiming for a type of the data
# regex=false aimes for the match of the value itself

address after text cleaning:
0    79402 Peterson Drives Apt. 511 Davisstad, PA 3...
1    55341 Amanda Gardens Apt. 764 Lake Mark, WI 07832
2                710 Eric Estate Carlsonfurt, MS 78605
3                809 Burns Creek Natashaport, IA 08093
4    8713 Caleb Brooks Apt. 930 Lake Crystalbury, C...
Name: address, dtype: object

In [100]:
#detecting outliers using z-score
z_scores = (df['salary'] - df['salary'].mean()) / df['salary'].std()
outliers = df[abs(z_scores) > 3]
print("outliers based on salary: ")
print(outliers[['name', 'salary']].head())

outliers based on salary:
               name  salary
279  Kelly Williams  484421
399   Kirsten Perez  356113
453   Leslie Hayden  482766
460      Kayla Choi  291227
508     Brian Wells  310076